{% extends "base.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="height: calc(100vh - 56px);">
        <form method="post" style="border: 1px solid lightgray; border-radius: 5px; padding: 15px;">
            <div class="mb-3">
                <label for="title" class="form-label">Task Title</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Task Title">
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Create Task</button>
        </form>
    </div>
    
</body>
</html>

{% endblock %}
