{% extends "base.html" %} {% block content %}
<div
  class="container d-flex flex-row justify-content-between"
  style="margin-top: 100px"
>
  <div id="left" style="width: 780px">
    <div id="left-up" style="margin-bottom: 45px">
      <h1 style="font-size: 80px; margin-bottom: 50px">
        Welcome back {{ current_user.first_name }}!
      </h1>
      <h1 style="font-size: 32px; line-height: 1.2;">The time is <span id="current-time"> </span><br>
       and the date is <span id="current-date"> </span><br>
      Seize the moment!</h1>
    </div>
    <div id="left-btm">
      <div
        class="task-list"
        style="display: flex; flex-direction: row; flex-wrap: wrap;"
      >
        {# This is where the tasks variable that is passed from the Flask route
        is used #} {# You can iterate over it like a normal Python list, and
        access each object's properties as usual #} {% for task in tasks %} {%
        if task.user_id == current_user.id %}
        <a href="{{ url_for('html_routes.tasks') }}" style="text-decoration: none; color: inherit; margin-right: 20px; margin-bottom: 20px;">
          <div
          class="task shadow"
          style="
            border: none;
            background: rgba(255, 255, 255, 0.15);
            border-radius: 15px;
            width: 360px;
            max-height: 500px;
            padding: 30px;
            font-size: 18px;
          "
        >
          <div class="task-info" style="font-size: 18px">
            <p><strong>Task ID:</strong> {{ task.id }}</p>
            <p><strong>Name:</strong> {{ task.name }}</p>
            <p><strong>Description:</strong> {{ task.desc }}</p>
            <p><strong>Start Date:</strong> {{ task.start_date }}</p>
            <p><strong>End Date:</strong> {{ task.end_date }}</p>
          </div>
        </div>
        </a>

        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
  <div
    id="right"
    class="text-center shadow"
    style="
      width: 400px;
      height: fit-content;
      border: none;
      background: rgba(255, 255, 255, 0.15);
      padding: 30px;
    "
  >
    <h1 style="margin-bottom: 60px; color: rgb(98, 88, 124)">Upcoming Task</h1>
    <h2 style="margin-bottom: 50px; font-size: 40px;">Task Name</h2>
    <p style="font-size: 24px; margin-bottom: 50px;">Task Content</p>
    <h3 style="margin-bottom: 50px">Due Date</h2>
    <a class="shadow" href="{{ url_for('html_routes.tasks') }}" 
    style="text-decoration: none; color: white; font-size: 20px; border: none; background-color: rgb(98, 88, 124); padding: 20px; display: block;">Check More Details</a>
  </div>
</div>

<script>
  let CurrentTime = document.getElementById("current-time");
  let CurrentDate = document.getElementById("current-date");

  setInterval(() => {
    let d = new Date();
    CurrentDate.innerHTML = d.toDateString();
    CurrentTime.innerHTML = d.toLocaleTimeString();
  }, 1000);

  const Refresh = document.getElementById("Refresh");
  Refresh.addEventListener("click", function () {
    location.reload();
  });
</script>
{% endblock %}
