{% extends "base.html" %} {% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body
    style="
      background-image: url(https://images.pexels.com/photos/1809644/pexels-photo-1809644.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
      background-size: cover;
      background-position: center;
      height: 95vh;
      overflow-x: hidden; /* Hide horizontal overflow */
      color: white;
    "
  >
    <div
      style="
        width: 500px;
        height: auto;
        display: flex;
        flex-direction: column;
        margin: 250px auto auto;
        align-items: center;
      "
    >
      <h1 style="margin-bottom: 30px; font-size: 36pt">Have an account?</h1>
      <div
        class="d-flex justify-content-center align-items-center"
        style="flex-direction: column"
      >
        <form
          method="POST"
          action=""
          style="
            display: flex;
            flex-direction: column;
            gap: 18px;
            font-size: 15pt;
          "
        >
          {{ form.hidden_tag() }} {{ form.username(style="width: 300px; height:
          40px; border-radius: 15px; border: grey 1px solid; background-color:
          rgba(255, 255, 255, 0.6); padding: 20px")}} {{
          form.password(style="height:40px; border-radius: 15px; border: grey
          1px solid; background-color: rgba(255, 255, 255, 0.6); padding:
          20px")}} {{ form.submit(style="height: 40px; border-radius: 15px;
          border: none")}}
          <a
            href="{{url_for('html_routes.register')}}"
            style="color: white; margin: 10px auto auto; font-size: 14pt"
          >
            Register Here
          </a>
        </form>
      </div>
      <p style="color: white; margin-top: 30px; font-size: 16pt">
        —— Or Sign In With ——
      </p>
      <div>
        <button
          style="
            width: 120px;
            border: none;
            height: 40px;
            padding: auto;
            margin-right: 5px;
          "
        >
          Google
        </button>
        <button
          style="
            width: 120px;
            border: none;
            height: 40px;
            padding: auto;
            margin-left: 5px;
          "
        >
          Facebook
        </button>
      </div>
    </div>
  </body>
</html>

{% endblock %}
