{% extends "base.html" %} {% block content %}
<div
  style="
    width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 250px auto auto;
    align-items: center;
  "
>
  <h1 style="margin-bottom: 30px; font-size: 36pt">Sign Up</h1>
  <div
    class="d-flex justify-content-center align-items-center"
    style="flex-direction: column"
  >
    <form
      style="display: flex; flex-direction: column; gap: 18px; font-size: 15pt"
    >
      {{ form.hidden_tag() }} {{ form.username(style="width: 300px; height:
      40px; border-radius: 15px; border: grey 1px solid; background-color:
      rgba(255, 255, 255, 0.6); padding: 20px") }} {{ form.password
      (style="width: 300px; height: 40px; border-radius: 15px; border: grey 1px
      solid; background-color: rgba(255, 255, 255, 0.6); padding: 20px")}} {{
      form.submit (style="height: 40px; border-radius: 15px; border: none")}}
    </form>
  </div>
</div>

{% endblock %}
