{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>All Tasks</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>User ID</th>
            </tr>
        </thead>
        <tbody>
            {# This is where the tasks variable that is passed from the Flask route is used #}
            {# You can iterate over it like a normal Python list, and access each object's properties as usual #}
            {% for task in tasks %}
                {% if task.id == current_user.id %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.name }}</td>
                        <td>{{ task.desc }}</td>
                        <td>{{ task.start_date }}</td>
                        <td>{{ task.end_date }}</td>
                        <td>{{ task.user_id }}</td>
                        <td>
                            <form method="post" action="{{ url_for('html_routes.delete_task', task_id=task.id) }}">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                       <td>
                          <div class="btn-group" role="group">
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                              data-bs-target="#exampleModal{{ task.id }}">
                              Edit
                            </button>
                          </div>
                          <form method="post" action="{{ url_for('html_routes.edit_task', task_id=task.id) }}">
                        <div class="modal fade" id="exampleModal{{ task.id }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit a Task</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="mb-3">
                                            <label for="title" class="form-label">Task Title</label>
                                            <input type="text" class="form-control" id="title"
                                                placeholder="{{ 'Title' if not task.name else task.name }}"
                                                name="title" value="{{ task.name }}">
                                        </div>
                                        <div class="mb-3">
                                            <label for="description" class="form-label">Description</label>
                                            <textarea class="form-control" id="description" rows="3"
                                                placeholder="{{ 'Description' if not task.desc else task.desc }}"
                                                name="description">{{ task.desc }}</textarea>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    </tr>
                </td>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <a class="nav-link" href="{{ url_for('html_routes.create_tasks') }}">Create</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
<script>
    const modals = document.querySelectorAll('.modal');
    modals.forEach(modal => {
        const titleInput = modal.querySelector('#title');
        modal.addEventListener('shown.bs.modal', () => {
            titleInput.focus();
        });
    });
</script>

{% endblock %}
