{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>All Tasks</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>User ID</th>
            </tr>
        </thead>
        <tbody>
            {# This is where the tasks variable that is passed from the Flask route is used #}
            {# You can iterate over it like a normal Python list, and access each object's properties as usual #}
            {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.name }}</td>
                <td>{{ task.desc }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.end_date }}</td>
                <td>{{ task.user_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
